node_modules
**/node_modules
**/dist
.git
.serverless
**/.serverless
.env
.env.*
**/.env
**/.env.*
*.csv
*accesskey*
*accessKeys*
apps/client/src
apps/client/public
apps/client/index.html
apps/client/vite.config.ts
apps/client/vitest.config.ts
apps/client/tsconfig*.json
apps/server/.serverless
docs
figma-plugin
**/*.md
.DS_Store
